<h4>KOPER, 20. - 21 . maj 2015</h4>

<div>
  <p>
    festINNO = regijska čezmejna platforma za predstavitev, povezovanje in snovanje širših podjetniških aktivnosti, stičišče povezovanje akademske sfere
    in gospodarstva ter načrtovanje politik podpore podjetništva
  </p>
  <br>
  <strong>Potek dogodka:</strong>
  <div class="row">
    <div class="col-lg-6">
      <table>
        <thead>
        <tr>
          <td>1. dan, 20.5.2015</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>09:15 - 10:00</td>
          <td>Rektorjev pozdrav</td>
        </tr>
        <tr>
          <td>09:30 - 11:00</td>
          <td>Od začetnika do izkušenega podjetnika</td>
        </tr>
        <tr>
          <td>10:00 - 11:00</td>
          <td>Kreativno v svet podjetništva</td>
        </tr>
        <tr>
          <td>10:00 - 16:00</td>
          <td>Inovacijski izziv: Kako lahko poživimo Titov trg v Kopru</td>
        </tr>
        <tr>
          <td>11:00 - 12:00</td>
          <td>Recepti za uspešno poslovanje: študenti podjetniki</td>
        </tr>
        <tr>
          <td></td>
          <td>Erasmus za mlade podjetnike</td>
        </tr>
        <tr>
          <td>12:00 - 13:00</td>
          <td>Kosilo</td>
        </tr>
        <tr>
          <td>13:00 - 14:30</td>
          <td>Gost iz tuje univerze: Dr. Guido Bortoluzzi o tem,</td>
        </tr>
        <tr>
          <td></td>
          <td>kako pomanjkanje podjetniških institucij vpliva na razvoj malih</td>
        </tr>
        <tr>
          <td></td>
          <td>in srednjih podjetij (Predavanje bo v angleškem jeziku.)</td>
        </tr>
        <tr>
          <td>14:30 - 15:30</td>
          <td>Predstavitve podjetniških zgodb študentov podjetništva</td>
        </tr>
        <tr>
          <td>14:30 - 15:30</td>
          <td>Popoldanska kava s podjetniki: pot do uspeha</td>
        </tr>
        <tr>
          <td>16:00 - 18:00</td>
          <td>Podjetniški UPi</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table>
        <thead>
        <tr>
          <td>2. dan, 21.5.2015</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>09:15 - 10:30</td>
          <td>Podjetniški zajtrk HINT - LAB</td>
        </tr>
        <tr>
          <td>10:30 - 11:15</td>
          <td>Intelektualna lastnina za kreativce</td>
        </tr>
        <tr>
          <td>10:30 - 15:30</td>
          <td>Financiranje kreativnih podjetniških idej</td>
        </tr>
        <tr>
          <td>11:15 - 13:00</td>
          <td>Kreativnost in podjetništvo</td>
        </tr>
        <tr>
          <td>13:00 - 14:00</td>
          <td>Kosilo</td>
        </tr>
        <tr>
          <td>14:00 - 14:50</td>
          <td>3D tehnologije</td>
        </tr>
        <tr>
          <td>15:00 - 15:50</td>
          <td>Kako zgraditi uspešno blagovno znamko (FlyKly) kot je uspelo Niku Klanšku</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td>Svečana razglasitev zmagovalcev natečaja Podjetna Primorska 2015</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <p>Več informacij o dogodku lahko najdete na <a href="http://adriatinn.iam.upr.si/upi/#two" style="color: cornflowerblue">http://adriatinn.iam.upr.si/upi/#two</a></p>

  <br>
  <br>

  <h4>OD ZAČETNIKA DO IZKUŠENEGA PODJETNIKA</h4>

  <br>

  <p>je tema študentskega zajtrka s podjetniki, ki je namenjen vsem, ki želijo spoznati prve korake v svet podjetništva iz prve roke.
    Predstavili se bodo tako mladi kot izkušeni podjetniki, ki bodo skušali odgovoriti na vsako vaše vprašanje ter vas seznaniti s težavami,
    s katerimi so se in se še srečujejo. Dogajanje bo potekalo v sproščenem in neformalnem vzdušju, kjer boste študenti lahko ob kavi poklepetali
    s podjetniki in si izmenjali informacije in kontakte. Imeli boste edinstveno priložnost osebno spoznati podjetnike ter njihove izkušnje v svetu
    podjetništva. poleg njih pa bo predstavljeno tudi financiranje, predvsem pridobivanje zagonskih sredstev za ustanovitev podjetja. Ob koncu
    dogodka vsakega obiskovalca čaka sladko presenečenje!<br>
    Skratka, srečanje, ki ga ne sme zamuditi nihče, ki ga svet podjetništva in vstop vanj zanima.</p>

  <br>
  <br>
  <p><span style="color: #e12c31;">KDAJ:</span> 20.maj 2015</p>
  <p><span style="color: #e12c31;">KJE:</span> prostori FM, Trg Brolo 12, predavalnica B5 (2. nadstropje)</p>
  <p><span style="color: #e12c31;">OB:</span> 9:15</p>
  <br>
  <table>
    <thead>
    <tr>
      <td><strong>Potek dogodka:</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>09:15 - 09:30</td>
      <td>Zbiranje ob kavici in zajtrk</td>
    </tr>
    <tr>
      <td>09:30 - 10:30</td>
      <td>Uvodna predstavitev in okrogle mize</td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td>Zaključno druženje in mreženje</td>
    </tr>
    </tbody>
  </table>

  <br>

  <p>Udeležba na dogodek je brezplačna. <br>
     Zaradi omejenega števila mest se je na dogodek potrebno predhodno prijaviti.</p>
  <br>
  <%= link_to 'PRIJAVA', check_path, class: "btn btn-danger btn-lg", id: "btn-prijava" %>
</div>