// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn-prijava{
  position: relative;
  margin-left: 45%;
  padding: 15px 30px;
}
#logo-FM{
  width: 200px;
  height: 100px;
  float: right;
  opacity: 0.6;
}
#form_content{
  width: 600px;
  height: auto;
  margin: 0 auto;
}
#btn-home{
  float: right;
}